<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ul class="social-icons">
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'about_us' %}">About Us</a></li>
          <li><a href="{% url 'blogs' %}">News</a></li>
          <li><a href="{% url 'profile' %}">Profile</a></li>
          <li><a href="https://instagram.com/spordiose?igshid=YmMyMTA2M2Y="><i class="fa fa-instagram" aria-hidden="true"></i>&nbsp;&nbsp;Instagram</a></li>
        </ul>
      </div>
      <div class="col-lg-12">
        <div class="copyright-text">
          <p>Design: <a rel="nofollow" href="{% url 'home' %}" target="_parent">SporDiose Media</a></p>
        </div>
      </div>
    </div>
  </div>
</footer>